<div class="content">
	<h2>Belly Dance From the Inside Out</h2>
	<h3>A body-mind approach to belly dancing</h3>
	<div class="quote">
		<img class="full" src="assets/photos/class page photo.jpg" />
		<div class="below">
			<blockquote><b>“</b>This form of movement is soft-edged.  It involves relaxation and learning to let go of tension.  Muscles that are contracted and rigid can’t do this kind of dancing.  The shimmies, stomach rolls and flutters, the camel walk and snakelike movements of the arms and hands are all expressions of the free flow of energy throughout the body.<b>”</b></blockquote>
			<div class="cite">Jamie Miller <b>“Sabah”</b></div>
		</div>
	</div>
	<p class="break">&hellip;</p class="break">
	<p>Class is on sabbatical.</p>
	<p>Please check this website and our <a href="https://www.facebook.com/pages/Sabah-Ensemble/349802331763495" target="_blank">Facebook page</a> for updates.</p>
	<p class="break">&hellip;</p class="break">
	<img class="full" src="assets/photos/studio2.jpg" />
	<div class="caption">Our studio home</div>
</div>
