<div class="content">
	<h2>Belly Dance From the Inside Out</h2>
	<h3>A body-mind approach to belly dancing</h3>
	<div class="quote">
		<img class="full" src="assets/photos/class page photo.jpg" />
		<div class="below">
			<blockquote><b>“</b>This form of movement is soft-edged.  It involves relaxation and learning to let go of tension.  Muscles that are contracted and rigid can’t do this kind of dancing.  The shimmies, stomach rolls and flutters, the camel walk and snakelike movements of the arms and hands are all expressions of the free flow of energy throughout the body.<b>”</b></blockquote>
			<div class="cite">Jamie Miller <b>“Sabah”</b></div>
		</div>
	</div>
	<p class="break">&hellip;</p class="break">
	<table>
		<tr>
			<td><b>When:</b></td><td>Thursday evenings 7:45-9:45 pm</td>
		</tr>
		<tr>
			<td><b>Where:</b></td><td><a href="" ng-click="showMap()">Berkeley Moving Arts / Western Sky Studio<a></td>
		</tr>
		<tr>
			<td></td><td>2525 8th Street #13A (near Dwight Way)</td>
		</tr>
		<tr>
			<td></td><td>Berkeley, CA 94710</td>
		</tr>
	</table>
	<p class="map" ng-if="show">
		<google-map center="map.center" pan="false" zoom="map.zoom" options="{ scrollwheel: false }">
			<marker coords="map.center"></marker>
		</google-map>
	</p>
	<p>Our class accepts <b>first-time students</b> on the first Thursday of the month</p>
	<p>
		<div>This is a multi-level class</div>
		<div>All levels of experience are welcome</div>
	</p>
	<p>
		<div>Our class operates as a monthly series</div>
		<div>$50 / month</div>
		<div>$15 / introductory class</div>
	</p>
	<p><b>Our class</b> utilizes a unique method of dance instruction from the “inside out”:  It teaches the efficient use of the body’s natural support system (the skeleton) to develop a strong center and to encourage the free flow of energy throughout the body, so that it is both released and integrated.  Belly dancing is a soft-edged form of movement that is good for people of all ages.</p>
	<p>A typical class begins with a gentle but in-depth warm-up series, ranging from 60-90 minutes.  It is a mat routine on the floor designed to awaken and engage the core muscles of the pelvis and spine, and to create a strong foundation for moving with ease and grace.  The warm-ups involve stretching, yoga, energy work, and creative body alignment/ideokinesis exercises.</p>
	<p>In the second part of class, we work on dance technique and movement exercises, often including an opportunity for improvisation/free dance.</p>
	<ul>
		<li>Wear comfortable clothing</li>
		<li>Bring an exercise mat or blanket for warm-ups</li>
	</ul>
	<p>For more information, see our <a href="#/faq">FAQ</a> or contact us at SabahEnsemble@hotmail.com.</p>
	<p>Be sure to check our <a href="https://www.facebook.com/pages/Sabah-Ensemble/349802331763495" target="_blank">Facebook page</a> for class announcements and updates.</p>
	<p class="break">&hellip;</p class="break">
	<img class="full" src="assets/photos/studio2.jpg" />
	<div class="caption">Our studio home</div>
</div>
