<div class="content">
	<h2>Frequently Asked Questions</h2>

	<ul ng-controller="NavController">
		<li><a href="" ng-click="go('q1')">What style of belly dance do you perform/teach (e.g., tribal, cabaret)?</a></li>
		<li><a href="" ng-click="go('q2')">Is this class for beginners?</a></li>
		<li><a href="" ng-click="go('q3')">What are the health benefits of belly dancing?</a></li>
		<li><a href="" ng-click="go('q4')">When can I start class?</a></li>
		<li><a href="" ng-click="go('q5')">How much does it cost?</a></li>
		<li><a href="" ng-click="go('q6')">What if I can’t attend class for the whole month?</a></li>
		<li><a href="" ng-click="go('q7')">When and where does your class meet?</a></li>
		<li><a href="" ng-click="go('q8')">What should I wear to class?</a></li>
		<li><a href="" ng-click="go('q9')">Is there anything I should bring to class?</a></li>
		<li><a href="" ng-click="go('q10')">What are the origins of belly dancing?</a></li>
		<li><a href="" ng-click="go('q11')">Do men belly dance today?</a></li>
		<li><a href="" ng-click="go('q12')">What is creative body alignment / ideokinesis?</a></li>
		<li><a href="" ng-click="go('q13')">How do you say “Sabah”?</a></li>
		<li><a href="" ng-click="go('q14')">Do you still have questions?</a></li>
	</ul>

	<a id="q1"></a>
	<h3 class="question">What style of belly dance do you perform/teach (e.g., tribal, cabaret)?</h3>
	<p class="answer">We teach belly dance as a Performing Art, and the Ensemble’s work is most closely described as Contemporary.  Contemporary Dance is characterized by its versatility; it can be danced to almost any style of music or merged with other dance forms to create new styles of movement.</p>
	<p class="answer">When you come to one of our performances, you will often see an eclectic range of work, from very traditional belly dance performances to belly dance infused with modern dance techniques.  You will hear traditional Middle Eastern music, as well as music from other genres and cultures (for example, jazz, tango, rock, techno, industrial, Latin, Bangra).</p>
	<div class="footer no-padding" ng-controller="NavController">
		<div class="arrow-up" ng-click="go('top')"></div>
		<a href="" ng-click="go('top')">Top</a>
	</div>

	<a id="q2"></a>
	<h3 class="question">Is this class for beginners?</h3>
	<p class="answer">This is a multi-level class; we welcome people of all skill levels, from beginners to experienced dancers.  Our goal as a class is to teach you how to use your body in a more released and efficient manner, which will help your movement in dance as well as everyday life.  We also want to give you the techniques and opportunities to express yourself creatively.</p>
	<div class="footer no-padding" ng-controller="NavController">
		<div class="arrow-up" ng-click="go('top')"></div>
		<a href="" ng-click="go('top')">Top</a>
	</div>

	<a id="q3"></a>
	<h3 class="question">What are the health benefits of belly dancing?</h3>
	<p class="answer">Belly dancing is a soft-edged form of movement, so it’s not stressful on the body and a great way for people of all ages to have fun.  The movements are good for the joints, healing and flowing like an internal massage.  Belly dancing also creates a strong, supple spine and is good for the back and the alignment of the whole body.</p>
	<div class="footer no-padding" ng-controller="NavController">
		<div class="arrow-up" ng-click="go('top')"></div>
		<a href="" ng-click="go('top')">Top</a>
	</div>

	<a id="q4"></a>
	<h3 class="question">When can I start class?</h3>
	<p class="answer">New students can start on the first Thursday of each month.  Our class is organized as a monthly series.  There is usually a theme that we work and build on during the course of the month (for example, veils, floor patterning, breath).  We have found that it is often difficult and confusing for new students to join class at the middle or end of the month without the foundation of the earlier weeks.</p>
	<p class="answer">Be sure to check our <a href="https://www.facebook.com/pages/Sabah-Ensemble/349802331763495" target="_blank">Facebook page</a> for announcements and updates about class.</p>
	<div class="footer no-padding" ng-controller="NavController">
		<div class="arrow-up" ng-click="go('top')"></div>
		<a href="" ng-click="go('top')">Top</a>
	</div>

	<a id="q5"></a>
	<h3 class="question">How much does it cost?</h3>
	<p class="answer">It is $50 for the month and $15 for a single introductory class.  We accept cash and checks.</p>
	<div class="footer no-padding" ng-controller="NavController">
		<div class="arrow-up" ng-click="go('top')"></div>
		<a href="" ng-click="go('top')">Top</a>
	</div>

	<a id="q6"></a>
	<h3 class="question">What if I can’t attend class for the whole month?</h3>
	<p class="answer">If you’re going on vacation or have a previous engagement, etc., tell us in advance and we can make arrangements to pay for a partial month.</p>
	<div class="footer no-padding" ng-controller="NavController">
		<div class="arrow-up" ng-click="go('top')"></div>
		<a href="" ng-click="go('top')">Top</a>
	</div>

	<a id="q7"></a>
	<h3 class="question">When and where does your class meet?</h3>
	<p class="answer">Our class meets on Thursday evenings from 7:45-9:45 pm.  The studio usually opens up at 7:30 pm.</p>
	<p class="answer">We are part of <a href="http://www.BerkeleyMovingArts.com" target="_blank">Berkeley Moving Arts</a>, a center for dance and movement classes emphasizing a body-mind approach, located at Western Sky Studio.  The address is:  <a href="" ng-click="showMap()">2525 8th Street $13A (near Dwight Way), Berkeley, CA 94710.<a></p>
	<p class="map" ng-if="show">
		<google-map center="map.center" pan="false" zoom="map.zoom" options="{ scrollwheel: false }">
			<marker coords="map.center"></marker>
		</google-map>
	</p>
	<div class="footer no-padding" ng-controller="NavController">
		<div class="arrow-up" ng-click="go('top')"></div>
		<a href="" ng-click="go('top')">Top</a>
	</div>

	<a id="q8"></a>
	<h3 class="question">What should I wear to class?</h3>
	<p class="answer">We suggest you wear comfortable clothing.  You will usually find us wearing yoga pants or sweat pants, a t-shirt, and bare feet.</p>
	<p class="answer">Shoes are not allowed on the studio floor.  If you have special needs requiring shoes, “studio shoes” (shoes not worn outside and no black soles) are an option.</p>
	<div class="footer no-padding" ng-controller="NavController">
		<div class="arrow-up" ng-click="go('top')"></div>
		<a href="" ng-click="go('top')">Top</a>
	</div>

	<a id="q9"></a>
	<h3 class="question">Is there anything I should bring to class?</h3>
	<p class="answer">We suggest you bring an exercise mat or blanket to lie on for the warm-up exercises.  (The studio has a few community mats available to borrow.)</p>
	<p class="answer">We often wear hip scarves or belts for the dance portion of class.  We have a selection of scarves available for you to borrow for class.</p>
	<p class="answer">Finger cymbals (“zils”) are welcome, but not required.</p>
	<div class="footer no-padding" ng-controller="NavController">
		<div class="arrow-up" ng-click="go('top')"></div>
		<a href="" ng-click="go('top')">Top</a>
	</div>

	<a id="q10"></a>
	<h3 class="question">What are the origins of belly dancing?</h3>
	<p class="answer">Belly dancing is one of the oldest dances alive in human culture today.  Some historians believe that it originated in the Middle East at a time before the development of written language when agricultural societies worshipped the Goddess as the giver of life, and that it began as a dance of and for women.  Elders taught the movements as a way to aid in the transition of a young girl to womanhood, as a way to honor and teach the secrets of feminine sexuality, and as a way to prepare the body for childbirth.</p>
	<p class="answer">In other times, the dance also included men – their dance movements representing shepherding and bartering.  Women and men also belly danced together to celebrate the cycles of planting and harvesting, and as a way of calling in prayers of fertility.</p>
	<p class="answer">There is another time in history when belly dancing became the dance of the harem – the dancer performing to excite and entertain the sultan, but even more so, the women dancing together to support and entertain each other during the long hours spent confined within the harem.</p>
	<p class="answer">Belly dancing is still traditionally performed at weddings and festive occasions in the Middle East.</p>
	<div class="footer no-padding" ng-controller="NavController">
		<div class="arrow-up" ng-click="go('top')"></div>
		<a href="" ng-click="go('top')">Top</a>
	</div>

	<a id="q11"></a>
	<h3 class="question">Do men belly dance today?</h3>
	<p class="answer">Yes, they do.  We have had men as students and members of the Ensemble.  Roman “Bert” Balladine, one of the world’s leading male belly dancers, was the first belly dance teacher of Jamie Miller, the Ensemble’s founder.</p>
	<div class="footer no-padding" ng-controller="NavController">
		<div class="arrow-up" ng-click="go('top')"></div>
		<a href="" ng-click="go('top')">Top</a>
	</div>

	<a id="q12"></a>
	<h3 class="question">What is creative body alignment / ideokinesis?</h3>
	<p class="answer">Creative body alignment or ideokinesis is a discipline which employs the use of images as a means of changing and improving muscle patterns to achieve balanced alignment and ease of motion.  It is one of the oldest of the body-mind training techniques.  The work was developed by Mabel Elsworth Todd in the early 1900s as a means to improve her physical condition – a back injury which had impaired her ability to walk.  The process “engages the mind through tactile, visual, and auditory senses, turning concept into image and image into new muscle patterns.”</p>
	<p class="answer">For example, one of the best ways to release tension in the shoulders and back is to imagine the spine lengthening into a long tail and letting the tip of your tail touch the floor.  This allows the muscles of the shoulders and back to let go of the burden of holding up the body and puts the responsibility where it belongs – on the skeleton and core muscles of the pelvis.</p>
	<div class="footer no-padding" ng-controller="NavController">
		<div class="arrow-up" ng-click="go('top')"></div>
		<a href="" ng-click="go('top')">Top</a>
	</div>

	<a id="q13"></a>
	<h3 class="question">How do you say “Sabah”?</h3>
	<p class="answer">Sabah rhymes with the British pronunciation of “mama” (accent on the second syllable).  Sabah means “morning” or “dawn” in Arabic.</p>
	<div class="footer no-padding" ng-controller="NavController">
		<div class="arrow-up" ng-click="go('top')"></div>
		<a href="" ng-click="go('top')">Top</a>
	</div>

	<a id="q14"></a>
	<h3 class="question">Do you still have questions?</h3>
	<p class="answer">Contact us at SabahEnsemble@hotmail.com or leave a message on the studio’s voicemail at 510-848-4878.</p>
</div>
