<div class="content">
	<h2>Belly Dance From the Inside Out</h2>
	<h3>A contemporary approach to the ancient dance form of belly dancing</h3>
	<div class="quote image-background">
		<img class="full" src="assets/photos/sabah ensemble-3.jpg" />
		<div class="bottom">
			<blockquote><b>“</b>When I belly dance, I feel the deepest sources of energy within myself.  The movements allow me to celebrate the integration of my body, mind, and spirit.  From the movements I receive a sense of wholeness, health, well-being.  When I belly dance, my body feels beautiful.<b>”</b></blockquote>
			<div class="cite">Jamie Miller <b>“Sabah”</b> (1942-1999)</div>
		</div>
	</div>
	<p class="break">&hellip;</p class="break">
	<p><b>The Sabah Ensemble</b>, founded by Jamie Miller “Sabah”, performs and teaches belly dancing as a contemporary art.  (Sabah means “morning” or “dawn” in Arabic.)  Using the classic form of belly dancing as a foundation, we incorporate the use of modern techniques – creative body alignment/ideokinesis, improvisation, visualization, energy awareness, and acting exercises – to create a unique style of movement, connection, and expression.</p>
	<p>We offer a weekly <a href="#/class">dance class</a>.  You can find announcements about class as well as information on upcoming performances on our <a href="https://www.facebook.com/pages/Sabah-Ensemble/349802331763495" target="_blank">Facebook page</a>.</p>
	<p>We hope to share the beauty and fun of this timeless dance with you and that it will enrich your life as it has ours.</p>
</div>
