<div class="content">
	<h2>Media Gallery</h2>
	<img class="large" src="assets/photos/kpfa crafts fair 1984-4.jpg" />
	<div class="caption large">KPFA Crafts Fair 1983</div>
	<p class="break">&hellip;</p class="break">
	<img class="large" src="assets/photos/desert dance 1984-9.jpg" />
	<div class="caption large">Desert Dance Festival 1984</div>
	<p class="break">&hellip;</p class="break">
	<img class="large" src="assets/photos/golden gate park fall 1985-2.jpg" />
	<div class="caption large">SF City Celebration Festival 1985</div>
	<p class="break">&hellip;</p class="break">
	<img class="large" src="assets/photos/jamie bday 1990-10.jpg" />
	<div class="caption large">Jamie Miller Birthday Celebration 1990</div>
	<p class="break">&hellip;</p class="break">
	<img class="large" src="assets/photos/desert dance 1990-3.jpg" />
	<div class="caption large">Desert Dance Festival 1990</div>
	<p class="break">&hellip;</p class="break">
	<img class="large" src="assets/photos/bert class12.jpg" />
	<div class="caption large">Special class with Bert Balladine 2002</div>
	<p class="break">&hellip;</p class="break">
	<img class="large" src="assets/photos/rakkasah 2005-11.jpg" />
	<div class="caption large">Rakkasah 2005</div>
	<p class="break">&hellip;</p class="break">
	<img class="large" src="assets/photos/DSC_0072.jpg" />
	<div class="caption large">Rakkasah 2010</div>
	<p class="break">&hellip;</p class="break">
	<img class="large" src="assets/photos/piedmont gardens 2013.jpg" />
	<div class="caption large">Piedmont Gardens 2013</div>
	<p class="break">&hellip;</p class="break">
	<img class="large" src="assets/photos/rakkasah 2014.jpg" />
	<div class="caption large">Rakkasah 2014</div>
	<p class="break">&hellip;</p class="break">
		
	<p>For more photos and videos, see our <a href="https://www.facebook.com/pages/Sabah-Ensemble/349802331763495" target="_blank">Facebook page</a>.</p>
</div>
