<div class="content">
	<h2>News</h2>
	<p>
		<div><b>Belly Dance From the Inside Out Class</b></div>
		<div>February 4, 2016 (Thursday), 7.45-9.45 pm</div>
		<div>Berkeley Moving Arts, 2525 8th Street #13A, Berkeley, California</div>
	</p>
	<p>New students welcome to join us for a new month of class.</p>
	<p class="break">&hellip;</p>

	<p>
		<div><b>Belly Dance From the Inside Out Class</b></div>
		<div>March 3, 2016 (Thursday), 7.45-9.45 pm</div>
		<div>Berkeley Moving Arts, 2525 8th Street #13A, Berkeley, California</div>
	</p>
	<p>New students welcome to join us for a new month of class.</p>
	<p class="break">&hellip;</p>

	<p>
		<div><b>Rakkasah West</b></div>
		<div>March 13, 2016 (Sunday), 3.30 pm</div>
		<div>Cabaret Stage, Richmond Memorial Auditorium, 403 Civic Center Plaza, Richmond, California</div>
	</p>
	<p>We will be performing with our favorite percussionist Debbie Fier.  The Rakkasah is a two-and-a-half day festival featuring two stages of dancing, classes, and vendors selling music, clothing, and jewelry. For more information, see <a href="http://www.Rakkasah.com" target="_blank">www.Rakkasah.com</a>.</p>
	<p class="break">&hellip;</p>

	<p>
		<div><b>Belly Dance From the Inside Out Class</b></div>
		<div>April 7, 2016 (Thursday), 7.45-9.45 pm</div>
		<div>Berkeley Moving Arts, 2525 8th Street #13A, Berkeley, California</div>
	</p>
	<p>New students welcome to join us for a new month of class.</p>
	<p class="break">&hellip;</p>

	<p>
		<div><b>Dancearama 2016</b></div>
		<div>April 24, 2016 (Sunday)</div>
		<div>Berkeley Moving Arts, 2525 8th Street #13A, Berkeley, California</div>
	</p>
	<p>In celebration of Bay Area Dance Week, the Sabah Ensemble will be part of an afternoon of free performances featuring contemporary dance, performance art, aerial dance, and, of course, belly dance.  Stay tuned for more information.</p>
	<p class="break">&hellip;</p>

	<p>
		<div><b>FREE CLASS – Belly Dance From the Inside Out</b></div>
		<div>April 28, 2016 (Thursday), 7.45-9.45 pm</div>
		<div>Berkeley Moving Arts, 2525 8th Street #13A, Berkeley, California</div>
	</p>
	<p>We’re offering a FREE class for Bay Area Dance Week. Limited enrollment. Stay tuned for more information.</p>
	<p class="break">&hellip;</p>

	<p>
		<div><b>Belly Dance From the Inside Out Class</b></div>
		<div>May 5, 2016 (Thursday), 7.45-9.45 pm</div>
		<div>Berkeley Moving Arts, 2525 8th Street #13A, Berkeley, California</div>
	</p>
	<p>New students welcome to join us for a new month of class</p>
	<p class="break">&hellip;</p>

	<p>
		<div><b>Creative Body Alignment Workshop</b></div>
		<div>July 2016 (date TBD)</div>
		<div>Berkeley Moving Arts, 2525 8th Street #13A, Berkeley, California</div>
	</p>
	<p>Creative Body Alignment workshops are led by Carol Loud for one weekend in July. Carol has 30 years of experience in performing and teaching dance, sensory integration, and body alignment based on the work of Mabel Elsworth Todd and Andre Bernard. This is an approach to freeing the human body of muscular stresses that is unique in its reliance on the creative mind to re-educate neuro-muscular patterns for balanced alignment and ease of motion. This training can be put to work immediately in daily living, dance, athletics, performing, teaching, and healing.</p>
	<p class="break">&hellip;</p class="break">

	<p>See our <a href="https://www.facebook.com/pages/Sabah-Ensemble/349802331763495" target="_blank">Facebook page</a> for class announcements and up-to-date news about performances.</p>
	<p class="break">&hellip;</p class="break">
	<img class="large" src="assets/photos/IMG_5429.jpg" />
	<div class="caption large">Rakkasah 2013 performance with percussionist Debbie Fier and Fier &amp; the Flames</div>
	<!-- facebook feed.
	<iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fpages%2FSabah-Ensemble%2F349802331763495&amp;width=650&amp;height=395&amp;colorscheme=dark&amp;show_faces=false&amp;header=false&amp;stream=true&amp;show_border=false&amp;appId=229414053756243" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:650px; height:395px;" allowTransparency="true"></iframe>
	-->
</div>
