<div class="content">
	<h2>News</h2>
	<p><b>The Sabah Ensemble</b> will be performing with Eden Aoba Taiko for their 2014 Ganbare Japan Concert on Saturday, September 27.   Some of the proceeds for the concert will benefit the Todoroko Taiko Group who lost most of their equipment in the 2011 tsunami.  For more information, see <a href="http://www.edentaiko.com/" target="_blank">EdenTaiko.com.</a></p>
	<img class="large" src="assets/photos/eden aoba taiko.jpg" />
	<p>See our <a href="https://www.facebook.com/pages/Sabah-Ensemble/349802331763495" target="_blank">Facebook page</a> for news about class and upcoming performances.</p>
	<p class="break">&hellip;</p class="break">
	<div class="center">
		<img class="half pull-left" src="assets/photos/IMG_5489.jpg" />
		<img class="half pull-right" src="assets/photos/IMG_5455.jpg" />
	</div>
	<div class="clear"></div>
	<div class="caption large">Rakkasah 2013 performance with percussionist Debbie Fier and Fier &amp; the Flames</div>
	<!-- facebook feed.
	<iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fpages%2FSabah-Ensemble%2F349802331763495&amp;width=650&amp;height=395&amp;colorscheme=dark&amp;show_faces=false&amp;header=false&amp;stream=true&amp;show_border=false&amp;appId=229414053756243" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:650px; height:395px;" allowTransparency="true"></iframe>
	-->
</div>
