<div class="content">
	<h2>NEWS</h2>
	<!-- facebook feed.
	<iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fpages%2FSabah-Ensemble%2F349802331763495&amp;width=650&amp;height=395&amp;colorscheme=dark&amp;show_faces=false&amp;header=false&amp;stream=true&amp;show_border=false&amp;appId=229414053756243" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:650px; height:395px;" allowTransparency="true"></iframe>
	-->
	<p>See our <a href="https://www.facebook.com/pages/Sabah-Ensemble/349802331763495" target="_blank">Facebook page</a> for news about class and upcoming performances.</p>
</div>
