@charset "UTF-8";
/* CSS Document */

body{
	font-family:Geneva, Arial, Helvetica, sans-serif;
	margin:0;
	background-image:url(graphics/bg_wallpaper.jpg);
}

a {
color:#FF9999;
text-decoration:none;
}

a:visited{
color:#336600;
}
#wrap {
	margin:0 auto;
	width:750px;
	height:auto;
	background-color: #782F56;
}


p{
	font-size: 13px;
	color: #84AC1F;
	line-height: 20px;
	padding-top:0px;
	padding-right:12px;
	padding-bottom: 6px;
	padding-left:12px;
	top: 0px;
}

h2 {
	font-size: 24px;
	font-weight:lighter;
	color: #734842;
	padding: 10px 12px 5px 12px;
}
h3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: normal;
	color: #68423F;
	padding: 5px;
}

h4 {
	font-size: 18px;
	font-weight:lighter;
	color:#C69;
	padding: 10px 12px 5px 12px;
}

h5 {
	font-size: 18px;
	font-weight:lighter;
	color:#C69;
	padding: 0px 0px 0px 0px;
}

p.description{
	font-size:14px;
	color: #734842;
	font-style:italic;
}

#header {

	width:750px;
	height:200px;
	background-image:url(graphics/Sabah_Header.jpg);
	
}
/*
#line {
	
	width:750px;
	height:6px;
	background-image:url(file:///Macintosh%20HD/Users/Ronan/Desktop/Site%20Folders/LunabeeBody/graphics/littleLine.jpg);
}
*/
#aboutBtn {
	
	width:150px;
	height:100px;
	float:left;
}
#classesBtn {
	
	width:150px;
	height:100px;
	float:left;
}
#perfBtn {

	width:150px;
	height:100px;
	float:left;
}
#jamieBtn {
	
	width:150px;
	height:100px;
	float:left;
}
#teachersBtn {
	
	width:150px;
	height:100px;
	float:left;
}
#pageTitle {
	
	width:750px;
	height:75px;
	float:left;
	background-image:url(graphics/teachers_title.jpg);
}


#mainContent_index {
	width:750px;
	height:780px;
	background-color:#2A002E;
	background-image:url(graphics/mainCont_bg.jpg);
	background-repeat: no-repeat;
	background-position: right bottom;
	float:left;
	position: relative;
}

#mainContent_classes {
	width:750px;
	height:1900px;
	background-color:#2A002E;
	background-image:url(graphics/mainCont_bg.jpg);
	background-repeat: no-repeat;
	background-position: right bottom;
	float:left;
	position: relative;
}

.classesContent{
	position: absolute;
	top: 8px;
	left: 5px;
	width: 600px;
	height: 900px;
}

#mainContent_performances {
	width:750px;
	height:860px;
	background-color:#2A002E;
	background-image:url(graphics/mainCont_bg.jpg);
	background-repeat: no-repeat;
	background-position: right bottom;
	float:left;
	position: relative;
}

#mainContent_jamie {
	width:750px;
	height: 1300px;
	background-color:#2A002E;
	background-image:url(graphics/mainCont_bg.jpg);
	background-repeat: no-repeat;
	background-position: right bottom;
	float:left;
	position: relative;
}

.jamie_text1{
	border-color:#00CC66;
	position: absolute;
	left: 15px;
	top: 5px;
	width: 700px;
	height: 100px;
}

.jamie_text1_name{
	border-color:#00CC66;
	position: absolute;
	left: 450px;
	top: 250px;
	width: 700px;
	height: 100px;
}

.jamie_text2{
	border-color:#CC6666;
	position: absolute;
	left: 15px;
	top: 345px;
	width: 700px;
	height: 400px;
}


#mainContent_teachers {
	width:750px;
	height:700px;
	background-color:#2A002E;
	background-image:url(graphics/mainCont_bg.jpg);
	background-repeat: no-repeat;
	background-position: right bottom;
	float:left;
	position: relative;
}

#mainContent_location {
	width:750px;
	height:700px;
	background-color:#2A002E;
	background-image:url(graphics/mainCont_bg.jpg);
	background-repeat: no-repeat;
	background-position: right bottom;
	float:left;
	position: relative;
}


#mainContent table {
	padding:10px;
	
}




#footer {
	
	width:750px;
	height:75px;
	clear:both;
	background-image:url(graphics/Sabah_footer.jpg);
}

#footer table {
	color: #86B11F;
	margin-top:4%;
	margin-bottom: 0px;
	margin-left: 25%;
	font-size: 11px;
}

#footer table a{
	color: #FFCCFF;
	font-size: 11px;
}

#footer table a:hover {
	color:#FFCC00;
	text-decoration:underline;
}
