<div class="content">
	<h2>Belly Dance From the Inside Out</h2>
	<h3>A contemporary approach to the ancient dance form of belly dancing</h3>
	<blockquote>“When I belly dance, I feel the deepest sources of energy within myself.  The movements allow me to celebrate the integration of my body, mind, and spirit.  From the movements I receive a sense of wholeness, health, well-being.  When I belly dance, my body feels beautiful.”</blockquote>
	<blockquote><center>&hellip;</center></blockquote>
	<blockquote>“A good belly dancer must always have dignity and an ability to express the many aspects of life:  sorrow and pain as well as happiness and joy.”</blockquote>
	<div class="cite">Jamie Miller “Sabah” (1942-1999)</div>
	<p>The Sabah Ensemble, founded by Jamie Miller “Sabah”, performs and teaches belly dancing as a contemporary art.  (Sabah means “morning” or “dawn” in Arabic.)  Using the classic form of belly dancing as a foundation, we incorporate the use of modern techniques – creative body alignment/ideokinesis, improvisation, visualization, energy awareness, and acting exercises – to create a unique style of movement, connection, and expression.</p>
	<p>We offer a weekly <a href="#/class">dance class</a>.  You can find announcements about class as well as information on upcoming performances on our Facebook page [LINK TO FB PAGE].</p>
	<p>We hope to share the beauty and fun of this timeless dance with you and that it will enrich your life as it has ours.</p>
</div>
