a:link {
	color: #999;
}

a:visited {
	color: #999;
}

a:hover {
	color: #999;
}

a:active {
	color: #999;
}

.active {
	background-color: #CCC;
}

.angular-google-map-container {
	height: 400px;
}

.answer {
	padding-left: 2em;
}

.arrow-up {
	border-bottom: 10px solid #84AC1F;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	cursor: pointer;
	margin-left: auto;
	margin-right: auto;
	height: 0; 
	width: 0; 
}

b {
	color: #84AC1F;	
}

.bio {
	float: left;
	margin-left: 2em;
	max-width: 60%;
}

.bio p:first-child {
	margin-top: 0;
}

body {
	background-image: url('../assets/img/bg_wallpaper.jpg');
	color: #DDD;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 1em;
}

.fixed-bottom {
	position: absolute;
	bottom: 0;
}

blockquote {
	font-size: 1em;
	font-style: italic;
	padding: 0 2em 0 2em;
	-webkit-margin-after: 0;
	-webkit-margin-before: 0;
	-webkit-margin-end: 0;
	-webkit-margin-start: 0;
}

.break {
	clear: both;
	color: #84AC1F;
	font-size: 2em;
	text-align: center;
}

.caption {
	background-color: rgba(0,0,0,0.5);
	font-style: italic;
	text-align: center;
}

.caption.large {
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}

div.center {
	margin-left: auto;
	margin-right: auto;
	width: 91%;
}

.cite {
	font-size: 0.8em;
	font-style: italic;
	text-align: right;
	padding: 1em 3em 0 0;
}

.clear {
	clear: both;
	
}

.content {
	background-color: rgba(35, 35, 35, 0.7);
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 2em 0.5em 2em 0.5em;
	width: 85%;
}

.footer {
	margin-left: auto;
	margin-right: auto;
	max-width: 1500px;
	min-width: 820px;
	padding-top: 1em;
	text-align: center;
	width: 100%;
}

h2 {
	color: #84AC1F;
	font-size: 2.5em;
	-webkit-margin-before: 0;
}

h3 {
	padding-bottom: 0.5em;
}

.header {
	margin-left: auto;
	margin-right: auto;
	background-color: #8800BB;
	max-width: 1500px;
	min-width: 820px;
	width: 100%;
}

li:before {
	color: #84AC1F;
	content: "\002022";
	padding-right: 1em;
}

.image-background {
	position: relative;
}

.image-background .top {
	position: absolute;
	top: 0;
	left: 2em;
	right: 2em;
	padding: 1em 2em 1em 2em;
	background-color: rgba(0,0,0,0.5);
}

.image-background .bottom {
	position: absolute;
	bottom: 4px;
	left: 2em;
	right: 2em;
	padding: 1em 0 1em 0;
	background-color: rgba(0,0,0,0.5);
}

img.full {
	width: 100%;
}

img.half {
	max-height: 290px;
	max-width: 490px;
}

img.small {
	max-width: 30%;
}

img.large {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}

.map {
	padding-bottom: 2em;
}

.nav {
	background-color: #777;
	border-top: 1px solid #000;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
	max-width: 1500px;
	min-width: 820px;
	width: 100%;
}

.nav a {
	display: inline-block;
	height: 100%;
	text-align: center;
	width: 13.7%;
}

.nav a:link {
	color: #000;
	text-decoration: none;
}

.nav a:visited {
	color: #000;
	text-decoration: none;
}

.nav a:hover {
	color: #000;
	text-decoration: none;
}

.nav a:active {
	color: #000;
	text-decoration: none;
}

.nav a div {
	padding-top: 10px;
}

.pull-right {
	float: right;
	max-width: 275px;
}

.pull-left {
	float: left;
}

.question {
	border-bottom: 1px solid #84AC1F;
	padding: 2em 0 0.5em 0;
}

.quote {
	padding: 0 2em 0 2em;
}

.quote .below {
	padding: 1em 0 1em 0;
	background-color: rgba(0,0,0,0.5);
}

table {
	empty-cells: show;
	padding-bottom: 2em;
}

td {
	padding-right: 10px;
}

ul {
	list-style: none;
}

.view {
	margin-left: auto;
	margin-right: auto;
	max-width: 1500px;
	min-width: 820px;
	width: 100%;
}

.with-bottom {
	position: relative;
}
